<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Modelling process</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Modelling process</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fa4d0b9dc77c4ed0a78a73d14b469394.png" alt="Modelling process" usemap="#id-fa4d0b9dc77c4ed0a78a73d14b469394map"/>
			   <map name="id-fa4d0b9dc77c4ed0a78a73d14b469394map">
				  		<area shape="rect" coords="227,767,347,822" href="../views/id-89fced48400d4cce98d74a4afde83711.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="719,11,839,66" href="../elements/id-de9b121097314d8eb7f5c7d653ac7748.html"  target="element">
				  		<area shape="rect" coords="612,623,732,678" href="../elements/id-d5d0943fb1114a96ab829c541b341b0b.html"  target="element">
				  		<area shape="rect" coords="695,524,815,579" href="../elements/id-6c5698313b664715a6a3ad1589300167.html"  target="element">
				  		<area shape="rect" coords="551,524,671,579" href="../elements/id-feb6c86802ed43d79a47a2ba99911fb5.html"  target="element">
				  		<area shape="rect" coords="389,611,497,666" href="../elements/id-7fc8caaad9824490877e03c62acb629a.html"  target="element">
				  		<area shape="rect" coords="383,527,503,582" href="../elements/id-b7f1dfd63e76483096e266a1b4c8219d.html"  target="element">
				  		<area shape="rect" coords="215,527,335,582" href="../elements/id-cd3fd319a14b4f26b76aa295d51c8b4a.html"  target="element">
				  				<area shape="rect" coords="712,239,832,294" href="../elements/id-b33e14a0679b429f8340d7a54ce9062b.html"  target="element">
				  				<area shape="rect" coords="316,239,436,294" href="../elements/id-3c989b52854c45bfa174f1d4e401482c.html"  target="element">
				  				<area shape="rect" coords="172,239,305,294" href="../elements/id-c9d4c953796e41628fbd618be15732a9.html"  target="element">
				  						<area shape="rect" coords="580,346,700,401" href="../elements/id-cdc172ec0b9845078bfd56c1b335021a.html"  target="element">
				  						<area shape="rect" coords="451,346,571,401" href="../elements/id-075e4ed98510413db7c6e7f884bdc173.html"  target="element">
				  						<area shape="rect" coords="319,346,439,401" href="../elements/id-c7b65dfd7dd449028373cabf4bee62ad.html"  target="element">
				  						<area shape="rect" coords="184,346,304,401" href="../elements/id-a31e706c400b41f3a17ea886f24d0fe6.html"  target="element">

				  				<area shape="rect" coords="172,311,724,436" href="../elements/id-d58a23f5c46e4cd9a64d0d77216447e6.html"  target="element">
				  				<area shape="rect" coords="580,239,700,294" href="../elements/id-e6ae4afafa7e48168b3179d1ab325e2e.html"  target="element">
				  				<area shape="rect" coords="448,239,568,294" href="../elements/id-e5b3f723d9a148d3ac9f5088d55b820f.html"  target="element">

				  		<area shape="rect" coords="148,191,839,467" href="../elements/id-cdb035b5546c4e209a81fb545a732188.html"  target="element">
				  		<area shape="rect" coords="203,83,323,138" href="../elements/id-488fa65f1a2e4a76aee9d9ccc44c5514.html"  target="element">
				  		<area shape="rect" coords="10,611,130,666" href="../elements/id-dfe519b0b77849bd976049a959ca4e7f.html"  target="element">
				  		<area shape="rect" coords="14,524,134,579" href="../elements/id-7822a244f6f449e7b8c522af80b038cb.html"  target="element">
				  		<area shape="rect" coords="10,251,130,306" href="../elements/id-a918f07ac841455ca8cef69f8f6b210d.html"  target="element">
				  		<area shape="rect" coords="35,11,155,66" href="../elements/id-bc1f0ef3ab29446da53b697a84d98f34.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-bc1f0ef3ab29446da53b697a84d98f34.html" target="element"> User </a> </td>
											    <td> <a href="../elements/id-bc1f0ef3ab29446da53b697a84d98f34.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a918f07ac841455ca8cef69f8f6b210d.html" target="element"> Computer </a> </td>
											    <td> <a href="../elements/id-a918f07ac841455ca8cef69f8f6b210d.html" target="element" class="i18n-elementtype-Device">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7822a244f6f449e7b8c522af80b038cb.html" target="element"> Archi </a> </td>
											    <td> <a href="../elements/id-7822a244f6f449e7b8c522af80b038cb.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dfe519b0b77849bd976049a959ca4e7f.html" target="element"> Model on local filesystem </a> </td>
											    <td> <a href="../elements/id-dfe519b0b77849bd976049a959ca4e7f.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-488fa65f1a2e4a76aee9d9ccc44c5514.html" target="element"> Enterprise Architect </a> </td>
											    <td> <a href="../elements/id-488fa65f1a2e4a76aee9d9ccc44c5514.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cdb035b5546c4e209a81fb545a732188.html" target="element"> EA with Archi </a> </td>
											    <td> <a href="../elements/id-cdb035b5546c4e209a81fb545a732188.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e5b3f723d9a148d3ac9f5088d55b820f.html" target="element"> Commit changes </a> </td>
													    <td> <a href="../elements/id-e5b3f723d9a148d3ac9f5088d55b820f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e6ae4afafa7e48168b3179d1ab325e2e.html" target="element"> Publish changes (push) </a> </td>
													    <td> <a href="../elements/id-e6ae4afafa7e48168b3179d1ab325e2e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d58a23f5c46e4cd9a64d0d77216447e6.html" target="element"> Versioning </a> </td>
													    <td> <a href="../elements/id-d58a23f5c46e4cd9a64d0d77216447e6.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-a31e706c400b41f3a17ea886f24d0fe6.html" target="element"> Add branch </a> </td>
															    <td> <a href="../elements/id-a31e706c400b41f3a17ea886f24d0fe6.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c7b65dfd7dd449028373cabf4bee62ad.html" target="element"> Switch branch </a> </td>
															    <td> <a href="../elements/id-c7b65dfd7dd449028373cabf4bee62ad.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-075e4ed98510413db7c6e7f884bdc173.html" target="element"> Merge branch </a> </td>
															    <td> <a href="../elements/id-075e4ed98510413db7c6e7f884bdc173.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-cdc172ec0b9845078bfd56c1b335021a.html" target="element"> Delete branch </a> </td>
															    <td> <a href="../elements/id-cdc172ec0b9845078bfd56c1b335021a.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-c9d4c953796e41628fbd618be15732a9.html" target="element"> Refresh model (commit &amp; pull) </a> </td>
													    <td> <a href="../elements/id-c9d4c953796e41628fbd618be15732a9.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3c989b52854c45bfa174f1d4e401482c.html" target="element"> Model elements </a> </td>
													    <td> <a href="../elements/id-3c989b52854c45bfa174f1d4e401482c.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b33e14a0679b429f8340d7a54ce9062b.html" target="element"> View readonly models </a> </td>
													    <td> <a href="../elements/id-b33e14a0679b429f8340d7a54ce9062b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-cd3fd319a14b4f26b76aa295d51c8b4a.html" target="element"> Git </a> </td>
											    <td> <a href="../elements/id-cd3fd319a14b4f26b76aa295d51c8b4a.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b7f1dfd63e76483096e266a1b4c8219d.html" target="element"> Gitlab </a> </td>
											    <td> <a href="../elements/id-b7f1dfd63e76483096e266a1b4c8219d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7fc8caaad9824490877e03c62acb629a.html" target="element"> Model on remote filesystem </a> </td>
											    <td> <a href="../elements/id-7fc8caaad9824490877e03c62acb629a.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-feb6c86802ed43d79a47a2ba99911fb5.html" target="element"> Publish HTML report </a> </td>
											    <td> <a href="../elements/id-feb6c86802ed43d79a47a2ba99911fb5.html" target="element" class="i18n-elementtype-ApplicationProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6c5698313b664715a6a3ad1589300167.html" target="element"> Web server </a> </td>
											    <td> <a href="../elements/id-6c5698313b664715a6a3ad1589300167.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d5d0943fb1114a96ab829c541b341b0b.html" target="element"> HTML files </a> </td>
											    <td> <a href="../elements/id-d5d0943fb1114a96ab829c541b341b0b.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-de9b121097314d8eb7f5c7d653ac7748.html" target="element"> Viewer </a> </td>
											    <td> <a href="../elements/id-de9b121097314d8eb7f5c7d653ac7748.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/id-89fced48400d4cce98d74a4afde83711.html" target="view"> ARCHI 3.2 Reference Model </a> </td>
											    <td> <a href="../views/id-89fced48400d4cce98d74a4afde83711.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-8b66031b58ee4fdb8c0ced53574ff029.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b66031b58ee4fdb8c0ced53574ff029.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc1f0ef3ab29446da53b697a84d98f34.html" target="element"> User </a> </td>
																		<td> <a href="../elements/id-488fa65f1a2e4a76aee9d9ccc44c5514.html" target="element"> Enterprise Architect </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ea7390841daf47d4935aec88f8c58d9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea7390841daf47d4935aec88f8c58d9b.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bc1f0ef3ab29446da53b697a84d98f34.html" target="element"> User </a> </td>
																		<td> <a href="../elements/id-de9b121097314d8eb7f5c7d653ac7748.html" target="element"> Viewer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d1ded7a401264bf782f12ed1a6f27527.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d1ded7a401264bf782f12ed1a6f27527.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a918f07ac841455ca8cef69f8f6b210d.html" target="element"> Computer </a> </td>
																		<td> <a href="../elements/id-7822a244f6f449e7b8c522af80b038cb.html" target="element"> Archi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fa557e4d8de54eeead13646beed1ec61.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fa557e4d8de54eeead13646beed1ec61.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a918f07ac841455ca8cef69f8f6b210d.html" target="element"> Computer </a> </td>
																		<td> <a href="../elements/id-bc1f0ef3ab29446da53b697a84d98f34.html" target="element"> User </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ffff75ea79cf4830ae2d1b58db452526.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ffff75ea79cf4830ae2d1b58db452526.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7822a244f6f449e7b8c522af80b038cb.html" target="element"> Archi </a> </td>
																		<td> <a href="../elements/id-dfe519b0b77849bd976049a959ca4e7f.html" target="element"> Model on local filesystem </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7eb78826ab7049a082f59acaa85f413b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7eb78826ab7049a082f59acaa85f413b.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-488fa65f1a2e4a76aee9d9ccc44c5514.html" target="element"> Enterprise Architect </a> </td>
																		<td> <a href="../elements/id-cdb035b5546c4e209a81fb545a732188.html" target="element"> EA with Archi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ae6d4cc0b46b406fb1e8df9c8ed189e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae6d4cc0b46b406fb1e8df9c8ed189e1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdb035b5546c4e209a81fb545a732188.html" target="element"> EA with Archi </a> </td>
																		<td> <a href="../elements/id-e5b3f723d9a148d3ac9f5088d55b820f.html" target="element"> Commit changes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ba1347e49104460cb7fb42065bc2b953.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ba1347e49104460cb7fb42065bc2b953.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdb035b5546c4e209a81fb545a732188.html" target="element"> EA with Archi </a> </td>
																		<td> <a href="../elements/id-e6ae4afafa7e48168b3179d1ab325e2e.html" target="element"> Publish changes (push) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0a1ebf71b3ab418d933497d6dad50f13.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a1ebf71b3ab418d933497d6dad50f13.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdb035b5546c4e209a81fb545a732188.html" target="element"> EA with Archi </a> </td>
																		<td> <a href="../elements/id-d58a23f5c46e4cd9a64d0d77216447e6.html" target="element"> Versioning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-923baa259922401b995981b67bae359e.html" target="element"> push / pull </a> </td>
																		<td> <a href="../elements/id-923baa259922401b995981b67bae359e.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdb035b5546c4e209a81fb545a732188.html" target="element"> EA with Archi </a> </td>
																		<td> <a href="../elements/id-cd3fd319a14b4f26b76aa295d51c8b4a.html" target="element"> Git </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f4409f1f55da4dc1b581394330c55710.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4409f1f55da4dc1b581394330c55710.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdb035b5546c4e209a81fb545a732188.html" target="element"> EA with Archi </a> </td>
																		<td> <a href="../elements/id-c9d4c953796e41628fbd618be15732a9.html" target="element"> Refresh model (commit &amp; pull) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7da16bd251b2438bb48dc189c7f9c295.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7da16bd251b2438bb48dc189c7f9c295.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdb035b5546c4e209a81fb545a732188.html" target="element"> EA with Archi </a> </td>
																		<td> <a href="../elements/id-3c989b52854c45bfa174f1d4e401482c.html" target="element"> Model elements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4009f417b2d0407dbf6db2a2fe7cc33c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4009f417b2d0407dbf6db2a2fe7cc33c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cdb035b5546c4e209a81fb545a732188.html" target="element"> EA with Archi </a> </td>
																		<td> <a href="../elements/id-b33e14a0679b429f8340d7a54ce9062b.html" target="element"> View readonly models </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0e879c7697ae4f76a48a93dd48f1aef2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0e879c7697ae4f76a48a93dd48f1aef2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d58a23f5c46e4cd9a64d0d77216447e6.html" target="element"> Versioning </a> </td>
																				<td> <a href="../elements/id-a31e706c400b41f3a17ea886f24d0fe6.html" target="element"> Add branch </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ef01d990318343369896e0ff4f897e37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ef01d990318343369896e0ff4f897e37.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d58a23f5c46e4cd9a64d0d77216447e6.html" target="element"> Versioning </a> </td>
																				<td> <a href="../elements/id-c7b65dfd7dd449028373cabf4bee62ad.html" target="element"> Switch branch </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c58d0d1506aa4a0fb219ed3b3ba388a6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c58d0d1506aa4a0fb219ed3b3ba388a6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d58a23f5c46e4cd9a64d0d77216447e6.html" target="element"> Versioning </a> </td>
																				<td> <a href="../elements/id-075e4ed98510413db7c6e7f884bdc173.html" target="element"> Merge branch </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f9a9cefcb25647e6bdba9d0d1bd18a94.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f9a9cefcb25647e6bdba9d0d1bd18a94.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d58a23f5c46e4cd9a64d0d77216447e6.html" target="element"> Versioning </a> </td>
																				<td> <a href="../elements/id-cdc172ec0b9845078bfd56c1b335021a.html" target="element"> Delete branch </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-a765df67d62d4738b9da81042c9b2a25.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a765df67d62d4738b9da81042c9b2a25.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7f1dfd63e76483096e266a1b4c8219d.html" target="element"> Gitlab </a> </td>
																		<td> <a href="../elements/id-cd3fd319a14b4f26b76aa295d51c8b4a.html" target="element"> Git </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f5610dd13d9546289fc506b7d501a298.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5610dd13d9546289fc506b7d501a298.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7f1dfd63e76483096e266a1b4c8219d.html" target="element"> Gitlab </a> </td>
																		<td> <a href="../elements/id-7fc8caaad9824490877e03c62acb629a.html" target="element"> Model on remote filesystem </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ee0c1e9ba6ad4876826f83dbc51c1bd3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee0c1e9ba6ad4876826f83dbc51c1bd3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b7f1dfd63e76483096e266a1b4c8219d.html" target="element"> Gitlab </a> </td>
																		<td> <a href="../elements/id-feb6c86802ed43d79a47a2ba99911fb5.html" target="element"> Publish HTML report </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-160dae5a35b94c5db5c0694a504203b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-160dae5a35b94c5db5c0694a504203b9.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-feb6c86802ed43d79a47a2ba99911fb5.html" target="element"> Publish HTML report </a> </td>
																		<td> <a href="../elements/id-7fc8caaad9824490877e03c62acb629a.html" target="element"> Model on remote filesystem </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cdc8c003964348a9936302d9a06dbaf0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cdc8c003964348a9936302d9a06dbaf0.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-feb6c86802ed43d79a47a2ba99911fb5.html" target="element"> Publish HTML report </a> </td>
																		<td> <a href="../elements/id-d5d0943fb1114a96ab829c541b341b0b.html" target="element"> HTML files </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-97ccf126a8ff453fbd4a35580e856905.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97ccf126a8ff453fbd4a35580e856905.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c5698313b664715a6a3ad1589300167.html" target="element"> Web server </a> </td>
																		<td> <a href="../elements/id-d5d0943fb1114a96ab829c541b341b0b.html" target="element"> HTML files </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-269e6ece9a2b4df089f84fda9560481f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-269e6ece9a2b4df089f84fda9560481f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6c5698313b664715a6a3ad1589300167.html" target="element"> Web server </a> </td>
																		<td> <a href="../elements/id-b33e14a0679b429f8340d7a54ce9062b.html" target="element"> View readonly models </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b7a2b0647f9844ca9bb84d7b4e588289.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7a2b0647f9844ca9bb84d7b4e588289.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-de9b121097314d8eb7f5c7d653ac7748.html" target="element"> Viewer </a> </td>
																		<td> <a href="../elements/id-b33e14a0679b429f8340d7a54ce9062b.html" target="element"> View readonly models </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>